@import "../../../../styles";
@import "../../../../shared/all";

@color_1: #4d4c4d;
@color_2: #21aedd;
@color_3: @color-text;

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: @color-background;
  opacity: 1;
  height: 90px;
  overflow: hidden;
  z-index: 100;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) 0.03s;

  .screen-padding(18px 15px, 10px 40px, 10px 60px 30px 60px, 10px 2vw 0 2vw);
  .screen-xs-max({ height: @header-h-xs; });

  i{
    font-size:0.9em;
  }
  > div {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: relative;
    white-space: nowrap;
    padding: 10px 0px;
    .screen-xs-max({ padding: 0; });
    .fill-remaining-space {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .logo {
      //filter: drop-shadow(1px 1px 0px white);
      overflow: hidden;
      text-indent: -99999px;
      background-image: url("@{imagesPath}/HMLogo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 48px;
      width: 225px;
      .screen-xs-max({ width: 150px; height: 37px; })

    }
    .links {
      margin: 0 3rem;
      .screen-xs-max({ margin: 0 1rem });
      direction: rtl;
      display: inline-block;

      a, span {
        cursor: pointer;
        color: inherit;
        //.cubic;
        i {
          //vertical-align: middle;
          //display: none;
          margin: 0 5px;
        }
      }


      span.separator {
        font-size: 8px;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 0.5rem 5px;
      }
      :hover:not(.separator) {
        color: @color-base;
        //font-weight: bold;
        //.txts;
      }

      .screen-xs-max({ span.separator, a {
        display: none;
      } });

    }

    .burger {
      //position: absolute;
      height: 34px;
      width: 34px;
      position: relative;

      //top: 10px;
      //left: 0px;
      div {
        position: absolute;
        left: 0px;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        span {
          display: block;
          margin: 6px 4px;
          background: @color_1;
          height: 3px;
          border-radius: 30rem;
          transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) 0.3s;
        }
      }
      .loading {
        position: absolute;
        height: 25px;
        width: 25px;

        border-radius: 15px;
        border: 2px solid #21aedd;
        border-top-color: transparent;
        -webkit-animation: spin .5s infinite linear;
        animation: spin .5s infinite linear;
        opacity: 0;
        pointer-events: none;

        top: 22px;
        right: 50px;
        .screen-xs-max({ top: 16px; right: 44px; });
      }
      .loading.active {
        opacity: 1;
      }
    }

  }

  nav {
    opacity: 0;
    margin-top: 30px;
    .flex-display;

    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    .screen-xs-max({ margin-top: 20px; });

    ul {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-width: 20rem;
      margin: 0;
      margin-left: 30px;
      .screen-md-max({ .flex; margin: 0; max-width: inherit; });

      &:last-child {
        margin-left: 0px;
      }
      li {
        list-style: none;
        padding: 3px 0px;
        a {
          display: block;
          transition: all ease 0.2s;
          color: @color_1;
          text-transform: capitalize;
          &:hover {
            color: @color_2;
          }
        }
      }
      li.title {
        border-bottom: solid 1px #d8d8d8;
        padding: 6px 0;
        margin-bottom: 6px;
        .bold;
        a {
          width: 100%;
          color: @color_2;
          transition: all ease 0.2s;
          &::after {
            transition: all ease 0.2s;
            float: left;
            content: '';
            position: relative;
            left: 0px;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 7px 5px 7px 7px;
            border-bottom: 1px solid #21aedd;
            border-left: 1px solid #21aedd;
            .rotate(45deg);
          }
          &:hover {
            color: @color_3;
            &::after {
              position: relative;
              left: -5px;
              border-bottom: 1px solid @color-text;
              border-left: 1px solid @color-text;
            }
          }
        }
      }
      ul.sub-nav {
        .screen-md-max({ display: none });
        li {
          a {
            color: @color_1;
            &::after {
              display: none;
            }
            &:hover {
              color: @color_2;
            }
          }
          a.active {
            color: @color_2 !important;
            //.semi/font
          }
        }
      }
    }
    ul.pages {
      .sub-nav {
        margin-right: 0px;
        li {
          width: 100%;
          border-bottom: 0px;
          &:first-child {
            margin-top: 4px;
            padding-bottom: 0px;
          }
          &:last-child {
            border-bottom: solid 1px #e5e5e5;
          }
        }
      }
      li {
        padding: 6px 0;
        border-bottom: solid 1px #d8d8d8;
        margin-bottom: 12px;
        //&:last-child {
        //  margin-bottom: 0;
        //  margin-top: 12px;
        //}
        a {
          width: 100%;
          color: @color_2;
          transition: all ease 0.2s;
          &::after {
            transition: all ease 0.2s;
            float: left;
            margin: 7px;
            content: '';
            position: relative;
            left: 0px;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 5px;
            border-bottom: 1px solid #21aedd;
            border-left: 1px solid #21aedd;
            .rotate(45deg);
          }
          &:hover {
            color: @color_3;
            &::after {
              position: relative;
              left: -5px;
              border-bottom: 1px solid @color-text;
              border-left: 1px solid @color-text;
            }
          }
        }

        &.mci{
          .screen-xs-min({display: none});
          border: none;
          margin-bottom:0;
          margin-top: 2rem;
          a{
            &::after{
              display: none;
            }

          }

        }
      }
    }
  }

  #masker{
    display: none;
  }
  &.dark {
    background-color: @color-background-dark;
    color: white;
    > div .burger div span {
      background: white;
    }
    > div .logo {
      background-image: url("@{imagesPath}/HMLogo_w.png");
      //background: none;
    }
    &.open {
      color: inherit;
      > div .burger div span {
        background: @color_1;
      }
      > div .logo {
        background-image: url("@{imagesPath}/HMLogo.png");
        //background: none;
      }
    }
  }

  .screen-xs-min({ &.trans:not(.open) {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 3px 5px rgba(200, 200, 200, 0);

    .logo {
      background-image: url("@{imagesPath}/HMLogo_w.png");
      //background: none;
    }
    .links {
      a, span {
        color: white;
      }
    }
    > div {
      .burger {
        div {
          span {
            background: white;
          }
        }
      }
    }

    .loading {
      border: 2px solid white;
      border-top-color: transparent;
    }

  } });

  &.open {
    opacity: 1;
    background: @color-background;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
    height: inherit;
    padding-bottom: 30px;
    .screen-xs-max({   padding-bottom: .5rem;});
    nav {
      opacity: .99;
      transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) 0.2s;
      transition-delay: 0.2s;
    }
    .logo {
      display: block;
      overflow: hidden;
      text-indent: -99999px;
      background: url("@{imagesPath}/HMLogo.png") no-repeat;
      background-size: contain;
    }

    .burger {
      span {
        background: white;
        &:first-child {
          -webkit-transform: rotate(45deg) translateY(8px) translateX(4px);
          transform: rotate(45deg) translateY(8px) translateX(4px);
          margin-top: 10px;
          width: 25px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          -webkit-transform: rotate(-45deg) translateY(-8px) translateX(5px);
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
          margin-top: -14px;
          width: 25px;
          margin-left: 4px;
        }
      }
    }
    .loading {
      border: 2px solid #21aedd;
      border-top-color: transparent;
    }

    #masker{
      content: '';
      display: block;
      position: fixed;
      top:0;
      bottom: 0;
      left:0;
      right:0;
    }
  }

}

@-webkit-keyframes spin {
  0% {
    .rotate(0deg);
  }

  100% {
    .rotate(360deg);
  }
}

@keyframes spin {
  0% {
    .rotate(0deg);
  }

  100% {
    .rotate(360deg);
  }
}


