<header id="header" class="" [ngClass]="{'open':showMenu, 'trans' : transMenu}">
  <div id="masker"  (click)="showMenu=false"></div>
  <div>
    <a class="logo" routerLink="/">{{'hm' | translate}}</a>

    <span class="fill-remaining-space"></span>

    <div class="links">
      <a href="http://mci.hashmal-motor.co.il" target="_blank" title="{{'words.login' | translate}}">
        <i class="fas fa-user"></i>
      </a>
      <span class="separator">|</span>
      <span (click)="changeLang()">{{'words.otherLang' | translate}}</span>
    </div>

    <div class="burger" (click)="showMenu=!showMenu" [ngClass]="{'active':showMenu}">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li class="title"><a routerLink="/services" (click)="scrollToElem('#services')">
        {{'ourServices.title' | translate}}</a></li>
      <li>
        <ul class="sub-nav">
          <li *ngFor="let nav of oursServices"><a [routerLink]="['services', nav.path]">{{nav.id + '.title' |
            translate}}</a></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li class="title"><a routerLink="/courses">{{'courses.title' | translate}}</a></li>
      <li>
        <ul class="sub-nav">
          <li *ngFor="let nav of courses"><a [routerLink]="['courses',(nav.title + '_'+ nav.id) | toSnake]">{{nav.title}}</a>
          </li>

        </ul>
      </li>
    </ul>
    <ul>
      <li class="title"><a routerLink="/products" (click)="scrollToElem('#products')">
        {{'products.title' | translate}}</a></li>
      <li>
        <ul class="sub-nav">
          <li *ngFor="let nav of products"><a [routerLink]="['products',nav.path]">{{nav.id + '.title' | translate}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="pages">
      <li><a routerLink="/about">{{'about.title' | translate}}</a></li>
      <li><a routerLink="/contact-us">{{'contactUs.title' | translate}}</a></li>
      <li class="mci"><a href="http://mci.hashmal-motor.co.il" target="_blank"><i class="fas fa-user"></i><span>{{'words.login' | translate}}</span></a>
      </li>
    </ul>

  </nav>

</header>
