<section class="dark">

  <div class="container">
    <div class="row">
      <div style="padding-right: 0">
        <h1>{{'courses.title' | translate}}</h1>
        <p>{{'courses.desc' | translate}}</p>
        <div class="more-btn">
          <a class="btn lead" [routerLink]="['courses']">{{'courses.more' | translate}}</a>
        </div>
      </div>

      <div class="double" style="padding-bottom: 0">

      </div>

    </div>
  </div>
  <div class="img-wrap">
    <img src="/assets/images/hadracha1.png" alt="">
  </div>

  <div class="container">
    <div class="already-visible courses">
      <div class="row four">
        <div *ngFor="let course of courses" class="tile">

          <a [routerLink]="['courses',(course.title + '_'+ course.id) | toSnake]">
            <h4>{{course.title}}</h4>
            <h4 class="date"><app-course-time [course]="course"></app-course-time></h4>
            <!--<h4 class="date">בקרוב</h4>-->
            <div>{{course.shortDesc}}</div>
            <a class="arrow"><i class="fa fa-angle-left"></i></a>
          </a>

        </div>
      </div>
    </div>


  </div>


</section>

