@import "../../../shared/mixins";
@import "../../../shared/colors";

section:not(.intro) {
  overflow: hidden;
  padding-top: 6.6rem;
  padding-bottom: 0;

  h1:before {
    content: '03.';
  }

  .more-btn {
    margin-top: 1.4rem;
    .btn {
      margin-bottom: 0;
    }
  }

  //.back-overlay {
  //  background: url('../../../assets/images/hadracha.png') no-repeat right top 50%;
  //}

  .img-wrap {
    position: absolute;
    top: 1rem;
    left: 0;
    text-align: left;
    .screen-xs-max({ position: relative;margin-left: -2rem;margin-top: 1rem });

    img {
      max-width: 63vw;

      .screen-xs-max({ max-width: inherit; max-height: 30vh; });
    }
  }

  .container{
    .row{
      > div{
        .screen-xs-max({ margin: 0 });
      }
    }
  }

  .courses {
    @pad: 55px;
    margin-top: 5.5rem;
    .screen-xs-max({margin-top: 2rem});
    .row {
      &.four {
        > div.tile {
          .flex(1 1 (23%));
          .flex-inline-display;
          .flex-center;
          max-width: 23rem;

          position: relative;
          box-shadow: none;
          background-color: @color-background-dark;
          border: 0 dashed @color-dashed-gray;
          padding: 0;
          margin: 0;
          border-left-width: 1px ;
          .screen-xs-max({
            border-left-width: 0 ;
            border-bottom-width: 1px ;
            .flex;
            max-width: inherit;
          });

          &:first-child {
            .screen({margin-right: 0}, {margin-right: -1rem},{margin-right: -1.5vw},{margin-right: -2vw});
            justify-content: start;
          }
          &:last-child {
            border: none;
          }

          .screen-xs-min({
            @size: 18px;
            &:not(:last-child):after {
              content: '';
              height: @size;
              width: @size;
              position: absolute;
              left: -@size/2;
              z-index: 1;
              top: -15px;
              background: url('../../../assets/images/small-wheel.png') no-repeat @color-background-dark;

            }
          });


          > a {
            display: block;

            .screen-padding( 2rem 0, 0 1rem 2rem, 0 1.5vw 2rem, 0 2vw 2rem);
            margin-top: -10px;
            h4 {
              color: @color-base;

              padding-top: 0;
              margin-top: 0;
            }

            .date {
              color: white;
              margin-bottom: 1.3rem;
            }

            > div {
              max-width: 14rem;
              height: 9rem;
              font-size: 1em;
              color: #d3d3d3;
              .screen-xs-max({max-width: inherit; height: inherit});

              line-height: 1.35;
              overflow: hidden;
            }

          }

        }
      }

    }

  }

}



