<section class="light">
  <div class="container">
    <div class="row upside">
      <div>
        <div class="box_icons">
          <ul>
            <li *ngFor="let customer of customers" class="{{customer}}">
              <img src="/assets/images/Customers/{{customer}}.png">
            </li>
          </ul>
        </div>
      </div>
      <div class="text">
        <div>
          <h1>{{'customers.title' | translate}}</h1>
          <p>{{'customers.desc' | translate}}</p>

        </div>
      </div>

    </div>

  </div>

</section>

