@import "../../shared/all";

section:not(.intro) {
  h1:before {
    content: '05.';
  }
  padding-bottom: 0rem;
  padding-top: 6rem;

  .row {

    > div {
      .screen-md-max({ .flex(1 1 100%); .flex-order(2); });

      &.text {
        .screen-md-max({ .flex-order(1); margin-bottom: 5rem });
        .screen-xs-max({ margin-bottom: 2rem });
        > div {
          max-width: 32rem;
          .screen-xs-max({ margin-bottom: 4rem });

        }
      }
    }

    .box_icons {
      text-align: center !important;
      margin-top: 0;

      ul {

        overflow: auto;
        margin: 0 auto;
        list-style: none;
        .flex-display;
        .screen-md-split(
          { .flex-row; .flex-middle;
        },
        {
          .flex-col;
          .justify-content(flex-start);
          .align-items(flex-start);
          height: 36rem;
        });

        li {

         text-align: center;

          margin-bottom: 5rem;
          .cubic();
          .gray-scale(100%);

          .screen-md-split(
          {
            .flex(1 1 20%);
            min-width: 10rem;
            text-align: center;
          },
          {
            height: 6rem;

            &:nth-child(n+4):nth-child(-n+6) {
              width: 10rem;
              margin-bottom: 1.5rem;
            }
          });

          img {
            vertical-align: middle;
            width: 7rem;

          }

          &:hover {
            //transform: scale(1.1) translateZ(0) perspective(7.5cm) rotateX(10deg) rotateY(-20deg);
            .gray-scale(0);
            transform: scale(1.05) translateZ(0);
          }

          &.intel {
            img {
              height: 46px;
              width: auto;
            }
          }

          &.haifa {
            img {
              height: 75px;
              width: auto;
            }
          }

          &.iec {
            img {
              height: 82px;
              width: auto;
            }
          }

          &.electra {
            //margin-top: -7rem;
          }

          &.simens {
            //margin-top: -15rem;
          }

          &.teva {
            //margin-top: -12rem;
            img {
              height: 38px;
              width: auto;
            }
          }

          //.screen-xs-max({ margin: 0 !important; width: 50%; padding-bottom: 3rem });
          //.screen-md-max({ margin-top: 0 !important; });
        }
      }
    }
  }

}

.cms_eng .box_icons ul li {
  float: right;
  padding-right: 3px;
  padding-left: 2px;
}

