<section class="entry contact">
  <mc-breadcrumbs></mc-breadcrumbs>
  <div class="title">
    <h1>{{'contactUs.title' | translate}}</h1>
    <hr>
  </div>

  <div *ngIf="!successMsg">
    <div class="text row">
      <div>
        <h5>{{'contactUs.subtitle' | translate}}</h5>
      </div>
    </div>
    <form [formGroup]="form">

      <div class="row form">
        <div [ngClass]="displayFieldCss('fullName')">
          <label>{{'form.fullName.title' | translate}}</label>
          <input name="fullName" placeholder="{{'form.fullName.title' | translate}}" required formControlName="fullName">
          <app-field-error-display
            [displayError]="isFieldValid('fullName')"
            errorMsg="{{'form.fullName.error' | translate}}">
          </app-field-error-display>
        </div>
        <div [ngClass]="displayFieldCss('company')">
          <label>{{'form.company' | translate}}</label>
          <input name="company" placeholder="{{'form.company' | translate}}" formControlName="company">
        </div>
      </div>

      <div class="row form">
        <div [ngClass]="displayFieldCss('email')">
          <label>{{'form.email.title' | translate}}</label>
          <input type="email" name="email" placeholder="{{'form.email.title' | translate}}" required formControlName="email">
          <app-field-error-display
            [displayError]="isFieldValid('email')"
            errorMsg="{{'form.email.error' | translate}}">
          </app-field-error-display>
        </div>
        <div [ngClass]="displayFieldCss('mobile')">
          <label>{{'form.mobile.title' | translate}}</label>
          <input name="mobile" type="tel" placeholder="{{'form.mobile.title' | translate}}" formControlName="mobile">
          <app-field-error-display
            [displayError]="isFieldValid('mobile')"
            errorMsg="{{'form.mobile.error' | translate}}">
          </app-field-error-display>
        </div>
      </div>

      <div class="row form">
        <div [ngClass]="displayFieldCss('subject')">
          <label>{{'form.subject' | translate}}</label>
          <select name="subject" class="form-control" formControlName="subject">
            <option value="">{{'form.subjectDrop' | translate}}</option>
            <option *ngFor="let subject of subjects" value="{{'contactUs.subjects.' + subject | translate}}">{{'contactUs.subjects.' + subject | translate}}</option>
          </select>
        </div>
      </div>

      <div class="row form">
        <div [ngClass]="displayFieldCss('body')">
          <label>{{'contactUs.content' | translate}}</label>
          <textarea rows="10" cols="40" name="body" placeholder="{{'contactUs.content' | translate}}" formControlName="body"></textarea>
        </div>
      </div>

      <div class="row form">
        <p class="message error">{{failed}}</p>
      </div>

      <div class="row form">
        <input type="submit" id="submit" class="accent" value="{{'form.sendRequest' | translate}}" (click)="submitForm()" [disabled]="disableBtn">

      </div>

    </form>
  </div>

  <div class="form-submitted" *ngIf="successMsg">
    <p class="message">
      {{successMsg}}
    </p>
    <div class="row form">
      <a (click)="goBack()" class="btn">{{'words.goBack' | translate}}</a>
    </div>
  </div>


</section>
