@import "../../../shared/all";

::ng-deep {
  .pros {
    color: @color-base;
    display: inline-block;
    width: 90%;
    .screen-xs-max({ width: inherit });
    li {
      list-style: none;
      margin-right: 1.5rem;
      &:before {
        content: '✓';
        .bold;
        margin-right: -1.5rem;
        margin-left: .5rem;
      }
    }
  }

  .text-div {
    li {

      ul {
        li {
          list-style: circle;
        }
      }
    }

    p:first-child{
      .bold;
    }
  }
}

