<section class="intro entity-details">
  <div class="title">
    <h5>{{'products.title' | translate}}</h5>
    <h1>{{product.id + '.title' | translate}}</h1>
  </div>

  <ul class="slider">
    <li class="active" [ngStyle]="{'background-image': 'url(/assets/images/products/' + product.id + '.png)'}"></li>
  </ul>

</section>

<section class="text">
  <mc-breadcrumbs></mc-breadcrumbs>
  <div class="row mobile-reverse">
    <div>
      <div class="pros" [innerHTML]="(product.id + '.pros' | translate)">
      </div>
      <div class="more-btn">
        <a class="btn" routerLink="/contact-us">{{'contactUs.title' | translate}}</a>
      </div>
    </div>



    <div [innerHTML]="(product.id + '.text' | translate)" class="text-div"></div>


  </div>
</section>
