<section class="entry contact">

  <mc-breadcrumbs></mc-breadcrumbs>
  <div class="title">
    <h1>{{'about.title' | translate}}</h1>
    <hr>
  </div>
  <div class="row">
    <div class="text-div" [innerHTML]="'about.text' | translate"></div>
  </div>
  <div>
    <div class="more-btn">
      <a class="btn" routerLink="/contact-us">{{'contactUs.btn' | translate}}</a>
    </div>
  </div>
</section>
