@import "../../shared/all";

.about.intro .title {
  position: relative;
  z-index: 500;
  //top: 45vh;
  //height: 50vh;
  background: linear-gradient(to bottom, #fff 1%, #fff 20%, rgba(255,255,255,0) 100%)
}

.about.intro .title h5 {
  color: @color-text;
}

.about.intro .title h2 {
  color: @color-text;
  //.light-font;
}



.about.intro {
  background: white
}

.about.intro .image.bg {
  height: 70%;
  width: 100%;
  position: absolute;
  top: 30%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-size: cover;
  z-index: 300;
  background-position: center 100% !important
}


.about.intro .slider {
  //margin-top: 20vh
}


