@import "../../../shared/all";

section:not(.intro) {

  h1 {
    color: @color-text;
    &:before {
      content: '02.';
    }
  }

  .container {
    position: relative;

    .row {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      .cubic(1s);

      .img-container {
        padding-left: 2rem;
        max-height: 50vw;
        .img-middle;
        // ltr
        .screen-xs-max({ padding: 0; max-width: 90vw; max-height: 45vh;    margin-top: 4rem;});
        .screen-height(45vh, 53vh, 550px, 550px);

        .image {

          max-height: 100%;
          max-width: 100%;
          //.screen-max-width( 100%, 34vw, 38vw, 100% );

        }
      }
      &.selected {
        opacity: 1;
        position: relative;
        z-index: 1;
      }
      .info {
        padding-right: .5rem;
        .screen-xs-max({ padding: 0; margin-bottom: 0 });
      }
    }

    .a {
      .screen({ padding-left: 0; height: 12rem }, { padding-left: 2rem }, { padding-left: 6rem }, { padding-left: 8rem });
      // ltr
      display: block;
      > div {

      }
    }
    .separator {
      margin: 2.5rem 0;
    }

    .icon-box {
      @w: 15rem;
      @h: 4.5rem;
      margin-top: 10px;
      height: 4.5rem;
      width: @w;

      .screen-xs-max({ height: @h/1.5; width: @w/2; position: absolute; margin: 0 });
      .screen-sm-md({height: @h/1.1; width: @w/1.5; margin-bottom: 1rem});

      img {

        max-width: 100%;
        max-height: 100%;
      }
    }
    .logo {

    }

    p {
      height: 5em;
      .screen-xs-max({ height: auto });
      overflow: hidden;
      margin-top: .5rem;
      max-width: 28rem;
      //font-size: 1.3em;
    }

    ul {
      //position: absolute;
      //bottom: -1rem;
      //left: 0;
      //right: 0;
      position: relative;
      text-align: center;
      margin-top: 1rem;

      .screen-xs-max({ margin-bottom: 1rem; margin-top: 0 });

      li {
        vertical-align: middle;
        background-color: lighten(@color-text, 50%);
        border-radius: 100%;
        height: 13px;
        width: 13px;
        cursor: pointer;
        margin: 0 10px;
        list-style: none;
        display: inline-block;
        .cubic;
        .zero-sides-margin;
        &.selected {
          background: @color-text;
          //height: 1.4rem;
          //width: 1.4rem;
        }
        &:not(.selected):hover {
          background: @color-base;
        }
      }

    }
  }
}
