<section class="light" >
  <div class="container">
    <a class="row upside" [routerLink]="['products', product.path]" *ngFor="let product of products; let i = index"
        [ngClass]="{'selected' : visId === i}">
      <div class="img-container" (swipeleft)="swipe(i, $event.type)" (swiperight)="swipe(i, $event.type)">
        <img class="image" src="/assets/images/products/{{product.id}}.png" alt="">
      </div>
      <div class="info">
        <h1>{{'products.title' | translate}}</h1>
        <div>
          <div class="a" >
            <h4>{{product.id + '.title' | translate}}</h4>
            <p>{{product.id + '.desc' | translate}}</p>
            <div class="separator"></div>
            <div class="icon-box" >
              <img *ngIf="product.logo" src="/assets/images/products/{{product.logo}}" alt="">
            </div>

          </div>
        </div>
      </div>

    </a>


    <ul>
      <li *ngFor="let p of products; let i = index" (click)="nextProduct(i)"
          [ngClass]="{'selected': visId === i}"></li>
    </ul>

  </div>
</section>


