@import "../../../shared/all";

section.text .row > div {
  &.side-info {
    .screen-xs-min({ margin-top: -7rem; });
    .screen-sm-md({ max-width: 250px; margin-left: 30px; });
    .screen-md-min({ max-width: 300px; margin-left: 60px; });

    // ltr
    > div {

      padding: 1rem 1.5rem;
      line-height: 1.5;
      background-color: @color-base;
      color: white;

      .screen-xs-max({ margin: 0; background-color: @color-background-light; color: inherit; });
    }

    dl {
      margin: 1rem 0 1.5rem;
    }

    #submit {
      //border-color: transparent;

      .screen-xs-min({ background-color: @color-text; color: white; });
      width: 100%;
      font-size: 1em;

      &:hover {
        .screen-xs-min({ background-color: @color-background-dark;  });
      }
    }
  }

  .htmls {
    .screen-xs-min({ margin-bottom: 0 });
    .screen-md-max({ padding-left: 1rem !important; });
  }
}

.intro {
  border-bottom: 5px solid @color-base;
}

