<section class="intro entity-details courses">
  <div class="title">
    <h5>{{'courses.title' | translate}}</h5>
    <h1>{{course.title}}</h1>
  </div>

  <ul class="slider">
    <li class="active" [ngStyle]="{'background-image': 'url(/assets/images/courses/' + course.courseId + '.jpg),url(/assets/images/courses/3.jpg)'}"></li>
  </ul>


</section>

<section class="text ">

  <div class="row mobile-reverse">
    <div class="side-info">
      <div>
        <dl>
          <dt *ngIf="course.courseDate">{{'courses.labels.courseDate' | translate}}</dt>
          <dd><app-course-time [course]="course"></app-course-time></dd>
          <!--<dd>בקרוב</dd>-->
          <dt *ngIf="course.timeLength">{{'courses.labels.timeLength' | translate}}</dt>
          <dd>{{course.timeLength}}</dd>
          <dt *ngIf="course.location">{{'courses.labels.location' | translate}}</dt>
          <dd>{{course.location}}</dd>
          <dt *ngIf="course.teacher">{{'courses.labels.teacher' | translate}}</dt>
          <dd>{{course.teacher}}</dd>
          <dt *ngIf="course.price">{{'courses.labels.price' | translate}}</dt>
          <dd>{{course.price | currency : 'ILS' : 'number' : '1.0-0' }}</dd>
        </dl>

        <a  routerLink="/courses/order/{{course.courseId || course.id}}">
          <input type="submit" id="submit" class="accent" value="{{'courses.makeOrder' | translate}}">
        </a>
      </div>
    </div>

    <div class="htmls text-div">
      <mc-breadcrumbs></mc-breadcrumbs>
      <article *ngFor="let par of paragraphs">

        <div *ngIf="course[par]">
          <h3>{{'courses.labels.' + par | translate}}</h3>
          <p [innerHTML]="course[par]">
          </p>
        </div>

      </article>
    </div>

  </div>
</section>
