
<section class="tiles inner-index" >
  <mc-breadcrumbs></mc-breadcrumbs>
  <h1 >{{'products.title' | translate}}</h1>
  <div class="row">
    <div *ngFor="let product of products" class="already-visible page {{product.titleClass}}">
      <a [routerLink]="product.path">
        <h4 class=" txts">{{product.id + '.title' | translate}}</h4>
        <div class="image" [ngStyle]="{'background-image': 'url(/assets/images/products/' + product.id + '.png)'}"></div>
        <div class="overlay" [ngClass]="product.overlayClass ? product.overlayClass : 'purple'"></div>
        <div class="content">
          <h2>{{product.id + '.desc' | translate}}</h2>
        </div>
      </a>
    </div>
  </div>
</section>
