<section class="intro video">
  <div class="title">
    <div>
      <h1><span>{{'intro.titleBold' | translate}}</span>{{'intro.title' | translate}}</h1>
      <h3>{{'intro.subtitle' | translate}}</h3>
      <div> <i class="fas fa-play circle" (click)="playMovie()"></i></div>
    </div>
  </div>
  <div class="popup video-popup index-video-popup " [ngClass]="{ 'active' : showMovie}">

    <div class="gallery-close-icon" (click)="closeMovie()"></div>

    <div class="inner-wrapper">

      <iframe class="player" width="560" height="315"  frameborder="0" allowfullscreen="1" title="YouTube video player"  [src]="playIt" ></iframe>

    </div>

  </div>

  <div class="arrow anim already-visible" >
    <a routerLink="/services" [scrollTo]="'#services'" [scrollOffset]="-50"> {{'words.down' | translate}}</a>
   </div>
</section>

