@import "../../../shared/all";
//:host-context(body #head){
//  *{
//    border: 5px solid red !important;
//  }
//}

section.intro {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 0;
  background: @color-background-dark;
  .back-pic('1L2A3073.JPG');
  &:before{
    .mask-me(.3);
  }
  //margin-bottom: 4rem;
  .title {
    text-align: center;
    > div {
      display: inline-block;
      max-width: 90vw;
      .screen-width(18em,22em,38em,38em);
      img {
        //height: 5rem;
        //width: auto;
        display: block;
      }

      h1 {
        line-height: 1;
        span {
          .bold;
          color: @color-base;
        }
        margin-bottom: .5rem;
      }

      h3 {
        //font-size: 1.5em;
        .regular-font;
        display: inline-block;
        max-width: 30rem;
        margin-bottom: 1.5rem;
      }
      //h2 {
      //  color: white;
      //  margin-top: 1.5rem;
      //  font-weight: bold;
      //  border-bottom: 5px solid @color-base;
      //  display: inline-block;
      //  padding-bottom: 1rem;
      //}



    }

  }

  &:after {
    content: '';
    background: rgba(0, 0, 0, .5);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    border-bottom: 3px solid black;
  }
}



#video-bg {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  height: 100vh;
  //.screen-height(80vh, 100vh, 100vh, 100vh);
  > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (min-aspect-ratio: 16 / 9) {
      height: 300%;
      top: -100%
    }

    @media (max-aspect-ratio: 16 / 9) {
      width: 300%;
      left: -100%
    }
  }

}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
}

#video-bg {

  top: auto;
  bottom: 0;
  z-index: 1;
  left: 0;
  margin: 4rem;
  height: 30vh;
  width: 53vh;
  border: 1px solid @color-base;
  text-align: center;
  cursor: pointer;
  i {
    position: absolute;
    z-index: 5;
    top: 46%;
    color: @color-base;
    font-size: 30px;

  }
}




.popup {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 101;
  background: rgba(0,0,0,0.9);
  transition: all 0s 0s, left 0s 0.5s, background 0.5s 0s;

  .close{
    left: 0;
    top: 0;
    margin: 1rem;
    position: absolute;
    z-index: 103;
    .rotate(-45deg);
    transition: 0.75s;
    i{
      font-size: 1.5em;
      width: 3.5rem;
      padding: 1rem;

    }
  }

  .gallery-close-icon {
    width: 3em;
    height: 3em;
    background: #fff;
    border-radius: 50%;
    left: 1rem;
    top: 1rem;
    opacity: 0;
    position: absolute;
    z-index: 2;
    .rotate(-45deg);
    transition: 0.5s;

    &:before {
      //margin-top: -1px;
      .rotate(90deg);
    }
    &:before,
    &:after {
      content: "";
      width: 1em;
      height: 3px;
      background: @color-text;
      position: absolute;
      top: 47%;
      right: 31%;
    }
  }



  .inner-wrapper {
    background: rgba(0,0,0,0.9);

    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    max-width: 90%;
    max-height: 80vh;
    width: 80rem;
    height: 45rem;
    margin: 10vh auto 0;

   iframe {
      width: 100%;
      height: 100%;
    }
  }

  &.active {
    left: 0;
    background: rgba(0,0,0,0.9);
    transition: all 0s 0s, background 0.5s 0s;
    .gallery-close-icon {
      .rotate(45deg);
      //left: .9375em;
      //top: .9375em;
      opacity: 1;
      transition: 0.5s 0.5s;
    }

    .inner-wrapper {
      opacity: 1;
      transform: translateY(0px);
    }
  }




}

