@color-text: #45464a;
@color-background: #e9e9e9; //#f7f7f7
@color-background-light: #f5f5f5;
@color-background-dark: #343434;

@color-base: #23afde;//#00e5ff;
@color-secondary: rgb(225, 0, 0);//spin(@color-base, (150));
@triadic-tertiary: spin(@color-base, (180));

@emphasized: @color-base;

@color-error: #d61213;

@color-light-blue: #3cc5f1; //3cc5f1
@color-dark-blue: #414f57;
@color-dark-gray: darken(@color-text, 10%);
@color-dashed: #4fc3e9;
@color-dashed-gray: #747474;
.prime {
  padding: 1rem;
  h4 {
    color: @color-base !important;
  }

}

.secondary {
  padding: 1rem;
  h4 {
    color: @color-secondary !important;;
  }

}

.tertiary {
  padding: 1rem;
  h4 {
    color: @triadic-tertiary !important;;
  }
}
