@path: '/assets';
@fontPath: "@{path}/fonts";

//@import url('https://fonts.googleapis.com/css?family=Assistant:400,700');


@font-face {
  font-family: 'Assistant Bold';
  src: url("@{fontPath}/Assistant-Bold.ttf");
  /*src: url("@{fontPath}/Rubik-Bold-Web.eot?#iefix") format("embedded-opentype"),url("@{fontPath}/Rubik-Bold-Web.woff2") format("woff2"),url("@{fontPath}/Rubik-Bold-Web.woff") format("woff");*/
  font-weight: 700;
  font-style: normal;
  font-stretch: normal
}

@font-face {
  font-family: 'Assistant Regular';
  src: url("@{fontPath}/Assistant-Regular.ttf");
  /*src: url("@{fontPath}/Rubik-Regular-Web.eot?#iefix") format("embedded-opentype"),url("@{fontPath}/Rubik-Regular-Web.woff2") format("woff2"),url("@{fontPath}/Rubik-Regular-Web.woff") format("woff");*/
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}

.regular-font {
  font-family: "Assistant Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.bold {
  font-family: "Assistant Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.light-font {

}

.light-font-xs(@size) {

}

.semi-font {

}
