@import '../shared/all';

.cubic(@speed: 0.3s) {
  -webkit-transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) @speed;
  transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) @speed;
}

.abs-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  z-index: 1;
}

.mask-me(@op: 0.4) {

  content: '';
  background: rgba(0, 0, 0, @op);
  .abs-cover;
}

.flex-display {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-inline-display {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex(@val: 1 100%) {
  -webkit-box-flex: @val; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: @val; /* OLD - Firefox 19- */
  -webkit-flex: @val; /* Chrome */
  -ms-flex: @val; /* IE 10 */
  flex: @val;
}

.justify-content(@val: center){
  -webkit-box-pack: @val;
  -webkit-justify-content: @val;
  -ms-flex-pack: @val;
  justify-content: @val;
}

.align-items(@val: center){
  -webkit-box-align: @val;
  -webkit-align-items: @val;
  -ms-flex-align: @val;
  align-items: @val;
}

.flex-center{
  .justify-content;
}

.flex-middle{
  .align-items;
  .flex-center;
}

.flex-row {
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-col {
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flex-order(@ord) {
  -webkit-box-ordinal-group: @ord; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: @ord; /* OLD - Firefox 19- */
  -ms-flex-order: @ord; /* TWEENER - IE 10 */
  -webkit-order: @ord; /* NEW - Chrome */
  order: @ord; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.radial-grad(@center: rgba(0, 0, 0, .3) 0%, @outer: rgba(0, 0, 0, 0.8) 90%) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-radial-gradient(center, ellipse cover, @center, @outer); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, @center, @outer); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, @center, @outer); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

.shadow(@s:0px 0px 50px 1px rgba(0, 0, 0, 0.6)) {
  -webkit-box-shadow: @s;
  -moz-box-shadow: @s;
  box-shadow: @s;
}

.text-shadow {
  text-shadow: 0 0 15px rgb(0, 0, 0);
}

.back-pic(@file) {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('/assets/images/@{file}');
}

.gray-scale(@prec) {
  -webkit-filter: grayscale(@prec);
  -moz-filter: grayscale(@prec);
  -o-filter: grayscale(@prec);
  -ms-filter: grayscale(@prec);
  filter: grayscale(@prec);
}

.img-middle {
  position: relative;
  //top: 50%;
  //transform: translateY(-50%);
  .flex-display;
  .flex-middle;
}

.zoom(@val : 1.1) {
  transform: scale(@val) translateZ(0);
}

.zero-sides-margin {
  &:first-child {
    margin-right: 0;
    .screen-xs-max({ margin-right: auto });
  }
  &:last-child {
    margin-left: 0;
    .screen-xs-max({ margin-left: auto });
  }
}

.opacity(@val) {
  //filter: alpha(opacity= @val*100);
  opacity: @val;
}

.color-overlay(@color) {
  background-color: @color;
  background-blend-mode: overlay;
}

.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}


.flip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
