/* =============================================================================
   Screen size variables
   ========================================================================== */

@screen-xs:                        767px;
@screen-xs-min:                    ( @screen-xs + 1 );
//@screen-sm:                        768px;
//@screen-sm-min:                    @screen-sm;
@screen-md:                        1150px;
@screen-md-min:                    ( @screen-md + 1 );

//@screen-lg:                        1200px;
//@screen-lg-min:                    @screen-lg;
@screen-xl:                        1300px;
@screen-xl-min:                    @screen-xl;

//@screen-xs-max:                    ( @screen-sm-min - 1 );
//@screen-sm-max:                    ( @screen-md-min - 1 );
//@screen-md-max:                    ( @screen-lg-min - 1 );
//@screen-lg-max:                    ( @screen-xl-min - 1 );

/* =============================================================================
   Media queries for different screen sizes
   ========================================================================== */

// MAX 767
.screen-xs-max(@rules) {
  @media (max-width: @screen-xs) { @rules(); }
}

// min 767
.screen-xs-min(@rules) {
  @media (min-width: @screen-xs-min) { @rules(); }
}

// 768-1150
.screen-sm-md(@rules) {
  @media (min-width: @screen-xs-min) and (max-width: @screen-md) { @rules(); }
}

// MAX 1150
.screen-md-max(@rules) {
  @media (max-width: @screen-md) { @rules(); }
}

// min 1150
.screen-md-min(@rules) {
  @media (min-width: @screen-md-min) { @rules(); }
}

// 1151 - 1300
.screen-md-xl(@rules) {
  @media (min-width: @screen-md-min) and (max-width: @screen-xl) { @rules(); }
}

// min 1300
.screen-xl(@rules) {
  @media (min-width: @screen-xl-min) { @rules(); }
}



/*********** *******/


//  ... <-- 767  --> ...
.screen-xs-split(@rules-bottom,  @rules-top){
  .screen-xs-max(@rules-bottom);
  .screen-xs-min(@rules-top);
}

//  ... <-- 1150  --> ...
.screen-md-split(@rules-bottom,  @rules-top){
  .screen-md-max(@rules-bottom);
  .screen-md-min(@rules-top);
}

// 1: xs only, 2: sm only, 3: md only, 4: lg only, 5: xl and larger
.screen(@rules-xs,  @rules-sm-md,  @rules-md-xl,@rules-xl) {
  .screen-xs-max(@rules-xs);

  .screen-sm-md(@rules-sm-md);

  .screen-md-xl(@rules-md-xl);

  .screen-xl(@rules-xl);
}

.screen-padding(@rules-xs,  @rules-sm-md,  @rules-md-xl,@rules-xl) {
  .screen({ padding: @rules-xs;},{ padding: @rules-sm-md;},{ padding: @rules-md-xl;},{ padding: @rules-xl;});
}

.screen-margin(@rules-xs,  @rules-sm-md,  @rules-md-xl,@rules-xl) {
  .screen({ margin: @rules-xs;},{ margin: @rules-sm-md;},{ margin: @rules-md-xl;},{ margin: @rules-xl;});
}

.screen-font(@rules-xs,  @rules-sm-md,  @rules-md-xl,@rules-xl) {
  .screen({ font-size: @rules-xs;},{ font-size: @rules-sm-md;},{ font-size: @rules-md-xl;},{ font-size: @rules-xl;});
}

.screen-font-xs(@rules-xs,  @rules-else) {
  font-size: @rules-else;
  .screen-xs-max({ font-size: @rules-xs;});
}

.screen-height(@rules-xs,  @rules-sm-md,  @rules-md-xl,@rules-xl) {
  .screen({ height: @rules-xs;},{ height: @rules-sm-md;},{ height: @rules-md-xl;},{ height: @rules-xl;});
}

.screen-width(@rules-xs,  @rules-sm-md,  @rules-md-xl,@rules-xl) {
  .screen({ width: @rules-xs;},{ width: @rules-sm-md;},{ width: @rules-md-xl;},{ width: @rules-xl;});
}

.screen-max-width(@rules-xs,  @rules-sm-md,  @rules-md-xl,@rules-xl) {
  .screen({ max-width: @rules-xs;},{ max-width: @rules-sm-md;},{ max-width: @rules-md-xl;},{ max-width: @rules-xl;});
}

.screen-mobile-h-min(@rules){
  @media (min-height: 500px) {@rules();  }
}

.screen-mobile-h-max(@rules){
  @media (max-height: 500px) {@rules();  }
}
