<div dir="{{dir}}">
  <app-header #header id="head"></app-header>

  <main id="content">
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
  <ngx-json-ld [json]="schema"></ngx-json-ld>
</div>
