@import '../shared/all';

.tiles {
  .screen-height(220px, 280px, 280px, 380px);
  .screen-xs-max({ .flex; });

  .row {
    margin: 0 auto;
    height: inherit;
    .screen-xs-max({ height: auto });

    > div {
      background-color: white;
      margin: 5px;
      position: relative;
      .screen-height(inherit, 300px, calc(~'100vh/2.5'), calc(~'100vh/2.5'));
      .screen-xs-max({ min-height: 220px; margin: 5px 0px });

      h2 {
        color: @color-text;
        .screen-xs-split({ margin-top: 30px; }, { margin-top: 40px });

        &.blue {
          color: @color-base
        }
      }

      &.blue {
        color: @color-base;
        h4, p {
          color: @color-base !important;
        }

        &:hover {
          h4, p {
            color: white !important;
          }
        }

      }

      &.purple {
        color: @color-secondary;

        h1, h2, h3, h4, h4, h5, p {
          color: @color-secondary;
        }

        &:hover{
          h4, p {
            color: white
          }
        }
      }

      &.white {
        color: white;

        h4,  h3 {
          color: white
        }

        &:hover h4 {
          color: white;
          /*text-shadow: 1px 1px rgba(0, 0, 0, 0.8);*/
        }

        .details {
          color: white
        }
      }


      &:hover h2 {
        color: white;
      }

      h4 {
        color: white;
        .cubic();
        z-index: 999
      }

      img {
        /*max-width: 100%;*/
        height: 200px;
      }

      span {
        display: inline-block;
        margin-right: 5px
      }

      a {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        .screen-padding(18px, 24px, 24px, 27px 30px);
      }

      ul {
        list-style-type: none
      }

      &.double h2 {
        max-width: 70%;
        .screen-xs-max({ max-width: 100% });
      }

      &.page {
        background: white;
        position: relative;
        padding: 0px;

        .content {
          display: block;
          position: absolute;
          opacity: 0;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
          transition: all ease .3s;
          z-index: 9999;
          .screen-padding(18px, 24px, 24px, 27px 30px);
          .screen-xs-max({ -webkit-transform: translateY(0px); transform: translateY(0px); });
          h1, h2, h3 {
            color: white;
          }
        }
        .overlay {
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          z-index: 100;
          padding: 0;
          opacity: 0;
          transition: all ease .3s;

        }
        .image {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          top: 0px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          .cubic();
        }
        a.view {
          color: white;
        }
        h2 {
          margin-top: 70px;
          .screen-xs-max({ margin-top: 60px; });
        }
        h4 {
          position: relative;
        }

        &:hover {
          .content {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            cursor: pointer;
            .details {
              .view {
                color: white;
                &::after {
                  border-color: white
                }
              }

            }
          }
          .image {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.2
          }
          .overlay {
            opacity: 1;
            mix-blend-mode: multiply;
            background: @color-background;
            &.purple {
              background: @color-secondary;
            }
            &.orange {
              background: @triadic-tertiary;
            }
            &.blue {
              background: @color-base;
            }
          }
        }
      }

      &.project {
        position: relative;
        padding: 0px;
        transition: background cubic-bezier(0.71, 0.04, 0.32, 0.95) 0.3s;
        a {
          color: white;
        }
        > h4 {
          position: relative;
          z-index: 999;
          color: white;
          padding: 24px;
        }
        > .name {
          position: relative;
          z-index: 999;
          color: white;
          top: -35px;
          padding: 24px;
        }
        .content {
          display: block;
          position: absolute;
          opacity: 0;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
          transition: all ease .3s;
          z-index: 9999;
          height: 100%;
          .screen-xs-max({ opacity: 1; });
          .screen-padding(18px, 24px, 24px, 27px 30px);
          .screen-xs-max({ -webkit-transform: translateY(0px); transform: translateY(0px) });
          h1, h2, h3 {
            color: white;
          }
        }
        &.casestudy {
          .overlay {
            background: @color-base
          }
        }
        .overlay {
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          z-index: 300;
          padding: 0;
          opacity: 0;
          transition: all ease .3s;
          background: @color-text;
          .screen-xs-max({ opacity: 0.5; });

        }
        .image {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
          top: 0px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          .cubic();
        }
        &:hover {
          .content {
            opacity: 1;
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            cursor: pointer
          }
          .overlay {
            opacity: 1;
            mix-blend-mode: multiply
          }
        }
        .image {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: 0.2
        }

      }

      &.news {
        background: white;
        h4 {
          color: @color-base;
          .cubic()
        }
        .details span {
          color: #999;
          .cubic();
          span::after {
            color: #8c8c8c;
          }
        }

        &:hover {
          background: #707372;
          .cubic();
          h4, span {
            color: white;
          }
          .details {
            span::after {
              color: white;
            }
          }
        }
      }

      &.blueback {
        .cubic();
        &, h2, pan::after, span.author {
          .cubic();
        }
        span.author {
          color: #999;
        }

        &:hover {
          cursor: pointer;
          background: @color-base;
          h4, .details span {
            color: white !important
          }
          span.author::after {
            color: white
          }
        }
      }

      &.courses:hover {
        cursor: pointer;
        background: @color-secondary;
        h4, .details span {
          color: white !important
        }
        span.author::after {
          color: white
        }
      }
    }

    &.four {
      > div {
        margin: 0;
        box-sizing: border-box;
        padding: 5px;

        .flex(0 1 calc(~'25% - 6px'));
        .screen-xs-max({ .flex; });

        &.double {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 calc(~'47.5% + 10px');
          flex: 1 0 calc(~'47.5% + 10px')
        }
      }

    }

  }

  &.wheels {
    .row {
      max-width: 1024px;
      margin-bottom: 50px;
      > div {
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        height: auto;
        margin-top: 50px;
        img {
          margin-bottom: 10px;
          -webkit-transition: -webkit-transform 1s ease-in-out;
          transition: transform 1s ease-in-out;
          &:hover {
            .rotate(25deg);
          }
        }
        a {
          max-width: 250px;
          display: block;
          position: relative;
          top: inherit;
          left: inherit;
          height: inherit;
          width: inherit;
          margin: 0 auto;
          padding: 0;
        }
        .wheel-img {
          position: absolute;
          margin: 28px;

          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          height: 144px;
          width: 144px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        h4 {
          color: white;
          max-width: 230px;
          display: inline-block;
          font-size: 24px !important;
        }
      }
    }
  }
}

