<footer id="footer">
  <agm-map [latitude]="lat" [longitude]="lng" [styles]="json" [zoom]="17" [zoomControl]="false"
           [streetViewControl]="false">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <div class="wrap">
    <div class="floating-info">
      <div class="row">
        <div><i class="fa fa-map-marker"></i> {{'form.address' | translate}}: <a href="https://goo.gl/maps/9gcpYC9o7t32" target="_blank">{{'hm.address' | translate}}</a></div>
        <div><i class="fa fa-at"></i> {{'form.email.title' | translate}}: <a href="mailto:info@hashmal-motor.co.il" target="_blank">info@hashmal-motor.co.il </a></div>
      </div>
      <div class="row">
        <div><i class="fa fa-phone"></i> {{'form.mobile.title' | translate}}: <a href="tel:{{'hm.phone' | translate}}" target="_blank">{{'hm.phone' | translate}}</a></div>
        <div><i class="fa fa-fax"></i>{{'form.fax' | translate}}: <span>{{'hm.fax' | translate}}</span></div>
      </div>
    </div>
  </div>

  <div class="credits">
    <span>© {{'hm.title' | translate}} 2018</span>
  </div>

  <!--<a routerLink="/services" [scrollTo]="'#services'" [scrollOffset]="-50"> {{'words.up' | translate}}</a>-->

</footer>
