@import '../../../../shared/all';

#footer {
  border-top: 5px solid @emphasized;
  background: #212121;
  //.screen({ padding: 15px; }, { padding: 15px 20px; }, { padding: 15px 60px; }, { padding: 15px 7.5vw 0 7.5vw; });
  padding: 0;
  position: relative;

  height: 50vh;
  max-height: 30rem;
  margin-top: 20rem;
  .screen-xs-max({margin-top: 10rem});
  .wrap {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    .screen({ margin-top: -6rem }, { margin-top: -6rem }, { margin-top: -7.5rem }, { margin-top: -8rem });

    .floating-info {
      display: inline-block;
      text-align: right;
      background-color: @color-base;
      color: @color-dark-blue;

      .screen-font(1em, 1em, 1em, 1.15em);
      .screen-padding(1rem, 2em 2.5em, 2.5em 5.5em, 2.5em 5.5em);

      .row {

        width: 35em;
        max-width: 80vw;
        margin-bottom: 1rem;
        .screen-xs-max({ margin-bottom: 0; width: 17em; });

        &:last-child {
          margin-bottom: 0;

          > div:last-child {
            .screen-xs-max({ margin-bottom: 0 });
          }
        }

        > div {

          white-space: nowrap;
          padding: 0;
          position: relative;

          .screen-xs-max({ margin-left: 5%; display: block; .flex(1 100%); margin-bottom: 1rem; i {
            display: none;
          } });

          .bold;

          i {
            //display: none;
            font-size: .8em;
          }

          a {
            color: white;
            .bold;
          }
          span {
            .bold;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    &.top {
      position: absolute;
      top: 24px;
      left: 5px;
      .rotate(-45deg);
      width: 22px;
      height: 22px;
      border-top: 1px solid white;
      border-right: 1px solid white;

      .screen-xs-max({ bottom: 0px; top: 80px });
    }
  }

  agm-map {
    height: 100%;
    width: 100%;

  }

  .credits {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    color: white;
  }
}

::ng-deep {
  .agm-map-container-inner {
    > div {
      background-color: transparent !important;
    }
  }
}
