@import "../../../shared/all";

section{
  text-align: center;
  padding: 4.5rem 3rem !important;
  background-color: @color-dark-blue;
  .screen-xs-max({padding: 2rem 1.5rem !important; });
  h2{
    .bold;

    color: white;
    font-size: 2.3em;
    .screen-xs-max({ font-size: 1.5em; });
    line-height: 1;
    a{
      display: block;
    }
  }
}
