<section class="intro entity-details" id="prods">
  <div class="title">
    <h5>{{'ourServices.title' | translate}}</h5>
    <h1>{{service.id + '.title' | translate}}</h1>
  </div>

  <ul class="slider">
    <li class="active" [ngStyle]="{'background-image': 'url(/assets/images/services/' + service.id + '.jpg)'}"></li>
  </ul>

</section>

<section class="text">

  <div class="row">
    <div class="double">
      <mc-breadcrumbs></mc-breadcrumbs>

      <div class="text-div" [innerHTML]="service.id + '.text' | translate"></div>
      <div class="more-btn">
        <a class="btn" routerLink="/contact-us">{{'contactUs.title' | translate}}</a>
      </div>
    </div>

    <div class="side-image">
      <div class="image"
           [ngStyle]="{'background-image': 'url(/assets/images/services/' + service.id + 'Side.jpg)'}"></div>
    </div>


  </div>
</section>
