@import '../../../shared/all';

section.text{

  .screen-xs-min({ padding-top: 0; margin-top: 25vh;});
  .row {
     > div{

       .image{
         height: 38vw;
         width: 25vw;
         position: absolute;
         top: 0;
         left: 0;
         background-size: cover;
         background-position: center left;
         background-repeat: no-repeat;
         //border-right: 5px solid @color-base;
         border-left: none;
       }

       &.double{
         max-width: 47rem;
       }

       &.side-image{
         .screen-xs-max({display: none});
       }
     }
  }

  .breadcrumb{
    padding-top: 0;
  }
}

