<section class="light">
  <div class="container">
    <div class="row">
      <div>
        <h1>{{'projects.title' | translate}}</h1>
        <p>{{'projects.desc' | translate}}</p>
      </div>
      <div></div>
    </div>


  </div>

  <div class="projects-container">
    <div class="container">
      <div *ngFor="let project of projects" class="item" [ngClass]="{'clicked' : clickId == project.id}" (click)="clickId=project.id">
        <div class="wrap">
          <div class="image"
               [ngStyle]="{'background-image': 'url(/assets/images/projects/' + project.id + '.JPG)'}"></div>
        </div>

        <!--<div class="mask"></div>-->
        <div class="text">
          <h2>{{'projects.' +project.id + '.title' | translate}}</h2>
          <p [innerHTML]="'projects.' +project.id + '.desc' | translate"></p>
        </div>
      </div>



    </div>
    <div class="more-div" *ngIf="hasMore">
      <a *ngIf="!loading" class="btn lead" (click)="getMore()">{{'projects.more' | translate}}</a>
      <i *ngIf="loading" class="fa fa-cog fa-spin"></i>
    </div>
  </div>


</section>



