@import "../../../shared/all";

section:not(.intro) {
  h1:before {
    content: '04.';
  }
  padding: 7rem 0 0;
  .screen-xs-max({ padding-top: 0; });
}

@gap: 16rem;

.container {
  .screen-xs-max({ padding: 3.5rem 0 0; });
  width: 95vw;
  .row {
    margin: 0 1rem;
  }
  p {
    max-width: 28rem;
  }
}

.projects-container {
  @w1:50vw;
  @w2:30vw;
  @w3:25vw;

  background-color: @color-base;
  border-top: 5px solid @emphasized;
  margin-top: @gap + 5rem;
  .screen-xs-max({ margin-top: 8rem });
  .container {
    margin-top: -@gap;
    .screen-xs-max({ margin-top: -8rem });
    padding: 0 1rem 3.5rem 1rem;
    //width: auto;
    .flex-display;
    .flex-row;
  }
  .item {
    width: 50%;
    cursor: pointer;
    position: relative;

    text-align: center;
    overflow: hidden;
    vertical-align: bottom;

    .flex(1 1 50%);
    .flex-inline-display;
    .flex-middle;

    height: 30vw;
    .screen-height(@w1, @w2, @w3, @w3);
    .screen-xs-max({ .flex; });
    //.screen-padding(3.5rem 0, 4rem 0 , 8.5rem 0 , 8.5rem 0);

    .image {
      .abs-cover;
      .back-pic('');
      .gray-scale(40%);
      .color-overlay(rgba(46, 54, 60, 1));
      z-index: 0;
      .cubic();
    }

    .mask {
      background: rgba(3, 18, 27, 0.6);

    }
    .text {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 3;
      transform: translateY(0);
      .cubic();
    }

    h2 {
      color: white;
      //font-size: 36px;
    }

    p {
      color: @emphasized;
      font-size: 1.2em;
      opacity: 1;
      visibility: visible;
      .screen-xs-max({ font-size: 1em });
      .bold;
    }

    &:hover {
      .image {
        filter: none;
        .zoom;
      }
    }

    &.clicked {
      .image {
        background-color: rgba(46, 54, 60, .5);

      }

      .text {
        .screen({ transform: translateY(@w1/2) }, { transform: translateY(@w2/2) }, { transform: translateY(@w3/2) }, { transform: translateY(@w3/2) });
        font-size: smaller;
        margin-bottom: 1rem;
        p {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
  .more-div {
    margin:0;
    padding-bottom: 2.5rem;
    .btn {
      margin: 0;
    }
  }
}

::ng-deep {
  .projects-container .item p * {
    .bold;
  }
}

