@import "../../../shared/all";

.price {
  float: left;
}

h1 {
  margin: 0 0 20px;
}

section.news {
  //background: white
  //&:first-child {
  //  margin-top: 80px;
  //  padding-bottom: 0
  //}

  &:nth-child(2) {
    padding-top: 0
  }

  img {
    width: 100%
  }

  .row {
    .screen-xs-min({ margin-left: -1rem;});

    > div {
      background-color: white;
      position: relative;
      transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) 0.2s;
      //.screen-height(auto, 400px, 500px, 550px);
      margin-left: 1rem;
      margin-bottom: 1rem;
      .screen-xs-max({ margin-left: 0; margin-bottom: 5vw });
      .image {
        display: inline-block;
        height: 275px;
        width: 100%;
        background-size: cover;
        background-position: center;
        //border-bottom: 1px solid @color-background;
        position: relative;
        &:before{
          .mask-me(.15);
        }
      }

      a {
        padding: 0px !important;
        color: inherit;

        .newstext {
          padding: 1rem;
          //.screen-padding(18px,24px,24px,27px 30px);

          h4 {
            color: @color-base;
          }

          h4.date {
            color: @color-text;
          }

          .details {

            position: absolute;
            padding: 0 24px;
            left: 0;
            right: 0;
            .screen-xs-max({ position: relative !important; padding: 0 0 0 18px });
            //.screen({ width: 100%; position: absolute; bottom: 0px; left: 0px; padding: 5%; font-size: 15px }, { bottom: 24px }, { bottom: 24px }, { bottom: 30px });

            span.author, span.date {
              text-transform: capitalize;
              color: #999
            }

            a.view:after {
              content: '';
              display: inline-block;
              width: 8px;
              height: 8px;
              margin-left: 3px;
              border-bottom: 1px solid white;
              border-right: 1px solid white;
              .rotate(-45deg);
            }

          }
        }

      }

      &:hover {
        background: @color-base;
        color: white;
        a {
          .newstext {
            p, h2, h4, .details span {
              color: white;
            }
          }
        }

      }

    }

  }

}


