
<section class="tiles inner-index news" >
  <mc-breadcrumbs></mc-breadcrumbs>
  <h1 >{{'courses.title' | translate}}</h1>

  <div class="row short news three">

    <div *ngFor="let course of courses" >
      <a [routerLink]="(course.title + '_'+ course.id) | toSnake" >
        <div class="image" [ngStyle]="{'background-image': 'url(/assets/images/courses/' + course.id + '.jpg),url(/assets/images/courses/3.jpg)'}"></div>
        <div class="newstext text-div">
          <h4>{{course.title}}</h4>
          <h4 class="date"><app-course-time [course]="course"></app-course-time></h4>
          <!--<h4 class="date">בקרוב</h4>-->
          <p>{{course.shortDesc}}</p>
        </div>
      </a>
    </div>
  </div>
</section>
