@import '../../../shared/all';

section:not(.intro) {
  h1:before {
    content: '01.';
  }
  .screen-xs-max({ padding-bottom: 0 });
}

.row {

  &.icons-row {
    margin-bottom: 7px;
    .screen-xs-max({ margin-bottom: 0; });

    > div {
      text-align: center;

    }
  }

  > div {
    //a:not(.arrow) {
    //  height: 8rem;
    //  position: relative;
    //  display: block;
    //
    //  h2 {
    //    font-size: larger;
    //    color: white;
    //    margin-top: 3rem;
    //    line-height: 1.5;
    //    transition: all ease .3s;
    //  }
    //}

    a {
      display: inline-block;
    }
    a.arrow {
      margin: 1rem auto 0;
    }
    &.model-container {
      //.flex(66%);

      position: relative;
      padding: 0rem 5rem 2rem 0;
      .screen-xs-max({ padding: 0 });

    }

    &.icon-box {
      .flex(20%);
      margin: 0;
      .screen-xs-max({ .flex; margin: 0 -1.5rem; padding: 3rem 0; &:nth-child(odd) {
        background-color: @color-light-blue;
      } });

      .inner {
        margin: 0 auto;
        text-align: center;
        max-width: 10rem;

        //.screen-xs-max({ width: 9rem });

        .zero-sides-margin;
        .svg-container {
          height: 4.5rem;
          position: relative;
          text-align: center;
          .cubic;
          .img-middle;
          img {
            //filter: brightness(0) invert(1);

          }

          &:hover {
            .zoom(0.95);
          }
        }
        .title {
          height: 5rem;
          .screen-xs-max({ height: inherit; });
          margin-top: 1rem;
          h4 {
            line-height: 1.5;
            color: white;
          }
        }

      }

    }

    &.item-box {
      position: relative;
      box-shadow: none;

      h4 {
        color: white !important;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
        text-align: center;
        font-size: 28px;
      }
      .overlay {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 100;
        padding: 0;
        opacity: 0;
        transition: all ease .3s;
      }
      .image {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .cubic();
      }
    }
    &.item-box:after {
      .mask-me;
      background: rgba(52, 52, 52, 0.6);;
    }
    &.page:after {
      .mask-me;
      //background: rgba(0, 0, 0, .4);
      .radial-grad;
    }

  }

}

section.premier .separator {
  margin: 2rem 0;
  .screen-xs-max({ margin: 2rem -1.5rem 0; })
}


