<section class="premier" id="services">
  <div class="container">

    <div class="row">
      <div>
        <h1>{{'ourServices.title' | translate}}</h1>
        <p>{{'ourServices.desc' | translate}}</p>

      </div>
      <div class="model-container double">
        <app-engine-model ></app-engine-model>
      </div>
    </div>

    <div class="separator"></div>

    <div class="row icons-row">
      <div *ngFor="let service of ourServices" class="icon-box">
        <a [routerLink]="['services',service.path]">
          <div class="inner">
            <div class="svg-container">
              <img src="/assets/images/services/{{service.id}}.png" alt="" class="align-middle">
            </div>
            <div class="title">
              <h4>{{service.id + '.title' | translate}}</h4>
            </div>

            <a class="arrow"><i class="fa fa-angle-left "></i></a>
          </div>
        </a>
      </div>
    </div>
  </div>

</section>
