
<section class="tiles inner-index" >
  <mc-breadcrumbs></mc-breadcrumbs>
  <h1>{{'ourServices.title' | translate}}</h1>
  <div class="row">
    <div *ngFor="let service of ourServices" class="already-visible {{service.titleClass}}"  [ngSwitch]="service.piclessTile">

      <a [routerLink]="service.path" *ngSwitchCase="true">
        <h4 class="purple">{{service.title}}</h4>
        <div>
          <h2>{{service.desc}}</h2>
        </div>
      </a>
      <a [routerLink]="service.title | toSnake" *ngSwitchDefault>
        <h4 class="txts">{{service.title}}</h4>
        <div class="image" [ngStyle]="{'background-image': 'url(/assets/images/services/' + service.id + '.jpg)'}"></div>
        <div class="overlay" [ngClass]="service.overlayClass ? service.overlayClass : 'purple'"></div>
        <div class="content">
          <h2>{{service.desc}}</h2>
        </div>
      </a>
    </div>
  </div>
</section>
