@import 'shared/all';

[dir='ltr'] {
  i {
    margin-left: 0;
    margin-right: .5rem;
  }

  .text-div {
    ul li {
      margin-right: 0;
      margin-left: 1.5rem;
    }
  }

  .pros {
    li {
      &:before {
        margin-right: .5rem;
        margin-left: -1.5rem;
      }
    }
  }

  #header nav {
    ul {
      margin-right: 30px !important;
      margin-left: 0 !important;
    }
    ul li.title,
    ul.pages li {
      a::after {
        float: right !important;
        .rotate(-135deg) !important;
      }

    }
  }

  section.intro .arrow {
    left: 50%;
    right: 0;
  }

  app-footer {
    #footer .wrap .floating-info {
      text-align: left !important;
    }
  }

  section:not(.intro) {
    h1:after {
      left: 0;
      right: auto;
    }
  }

  .popup .gallery-close-icon {
    left: auto !important;
    right: 1rem;
  }

  app-our-services-tiles {
    .engine-wrap {
      .flip;
    }
  }

  app-product-tiles {
    section:not(.intro) .container {
      a {
        padding-left: 0 !important;
        .screen({ padding-right: 0 }, { padding-right: 2rem }, { padding-right: 6rem }, { padding-right: 8rem });
      }
      .row .img-container {
        padding-left: 0 !important;
        padding-right: 2rem;
      }
    }
  }

  app-course-tiles {
    section:not(.intro) .img-wrap {
      left: auto !important;
      right: 0;
      .flip;
    }
  }

  app-customers {
    section:not(.intro) .row .box_icons ul li {
      //margin-left: 0 !important;
      //.screen({ margin-right: 0; }, { margin-right: 1rem; width: 8rem }, { margin-right: 1rem; }, { margin-right: 4rem; });
    }
  }

  app-our-services-details {
    section.text .row > div .image {
      left: auto !important;
      right: 0;
      .flip;
    }
  }

  app-course-details {
    section.text .row > div.side-info {
      .screen-xs-min({ margin-right: 60px; margin-left: 0; });
    }
  }

  section.contact .form > div:nth-child(2) {
    .screen-xs-min({ padding-left: 1.5rem; padding-right: 0; });
  }
}
