@import 'shared/all';
@import 'shared/fa/fontawesome';

@path: '/assets';
@imagesPath: "@{path}/images";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .regular-font;

}

body {
  color: @color-text;
  direction: rtl;
  //font-size: 21px;
  .screen-font(18px, 18px, 21px, 21px);
  background: @color-background;
}

::-moz-selection {
  background: #dbdbdb
}

::selection {
  background: #dbdbdb
}

::-moz-selection {
  background: #dbdbdb
}

.hide {
  display: none
}

.disable {
  opacity: .3 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  pointer-events: none !important
}

.txts {
  text-shadow: 2px 0px 4px rgba(0, 0, 0, 1);
}

.tiny {
  font-size: 0.7em;
}

strong, b {
  .bold;
}

body.locked {
  overflow: hidden;
  padding-right: 16px
}

body.blank {
  padding-top: 60px
}

body.no-scroll {
  overflow: hidden
}

input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  padding: 15px 15px 13px;
  border: 1px solid transparent;
  font-size: 1.1em;
  .regular-font;
  .cubic();

  &:focus {
    outline: none;
    background: darken(@color-background, 5%);
    //color: @color-text;
  }

  &::-webkit-input-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: #d8d5d8;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.has-error {
  input, textarea, select {
    border-color: @color-error;
  }
}

i {
  font-style: normal;
  margin-left: .5rem;
  .light-font;

  &.circle {
    background-color: white;
    border-radius: 100%;
    color: @color-text;
    padding: 1.3rem;

    margin: 0;
    .cubic;
  }

}

a.arrow {
  margin: 1rem 0 0;
  border: 2px solid;
  border-radius: 100%;
  line-height: 1;
  .flex-display;
  .flex-middle;
  width: 26px;
  height: 26px;
  padding: 0 7px;
  .cubic(.2s);
  i {
    font-size: 0.8em;
    margin: 0;
    vertical-align: middle;
    .cubic(.2s);
  }
}

.premier {
  a.arrow {
    border-color: @color-text;
    i {
      color: @color-text;
    }
    &:hover {
      background-color: @color-text;
      i {
        color: white;
      }
    }
  }

}

.dark {
  a.arrow {
    border-color: white;
    i {
      color: white;
    }
    &:hover {
      background-color: white;
      i {
        color: @color-text;
      }

    }
  }
}

i.circle,
.gallery-close-icon {
  cursor: pointer;
  &:hover {
    background-color: @color-base;
    color: white;
  }
}

#submit {
  background: @color-base;
  color: white;
  width: inherit;
  border-radius: 3px;
  line-height: 1;
  padding: 20px 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  &.accent {
    background: transparent;
    color: @color-text;
    border: 1px solid @color-text;
    .bold;
  }
  &:disabled {
    background: #f4f4f4;
    border-color: white;
    color: gray;
  }

  &:hover {
    background: @color-dark-gray;
    color: white;
    cursor: pointer
  }

}

a.contact-us-btn {
  margin: 15px 0;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  .bold;
  line-height: 1.5;

}

h1 {
  //font-weight: 100;

  .screen-font(2.38em, 3em, 4em, 4.77em);
  line-height: .8em;
  /*text-shadow: 2px 2px black;*/
}

h2 {
  .screen-font(1.2em, 1.3em, 1.4em, 1.81em);

}

h3 {
  .screen-font(1em, 1em, 1.14em, 1.33em);
}

h4 {
  // .screen-font(18px, 21px, 24px, 1.14em);
  font-size: 1.14em;
}

h5 {
  //.screen-font(16px, 18px, 18px, 1em);
  font-size: 1em;
}

p, blockquote, li {
  //color: #4d4c4d;
  line-height: 1.4;
  //.screen-font(15px, 18px, 18px, 18px);
}

strong {
  .semi-font;
  font: 18px/27px;
  color: #4d4c4d
}

hr {
  border: none;
  border-top: 1px solid #999
}

a {
  text-decoration: none;
  color: @color-base
}

a.active {
  color: @color-text !important
}

.mask {
  .mask-me;
}

.text-div {
  //.screen-font(16px, 16px, 18px, 21px);
  line-height: 1.5;
  p, > div {
    .screen({ padding-bottom: 2rem }, { padding-bottom: 15px }, { padding-bottom: 15px }, { padding-bottom: 30px });
  }

  ul li {
    list-style-type: square;
    margin-right: 1.5rem;
    padding-bottom: 0;
  }

  h3 {
    color: inherit;
    font-size: inherit;
    padding: 0 0 .5rem;
  }
}

/*************************  ********************/

main#content {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  min-height: 100vh;
  .cubic(0.6s);
  //-webkit-transform: translateY(0px);

}

main#content.out {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  pointer-events: none;
  -webkit-transform: translateY(20px);
  transform: translateY(20px)
}

section {
  position: relative;
  width: 100%
}

section:not(.intro) {
  //max-width: 1600px;
  margin: 0 auto;
  padding: 7rem 0;
  min-height: 40vw;
  h1 {

    //text-align: right;
    .bold;
    position: relative;
    padding: 2rem 0 2rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  h1:before {

    content: '';
    position: absolute;
    top: 0;
    //right: 0;
    font-size: 1.5rem;
    padding: 0;
    line-height: .7;
    text-indent: 0;
    .regular-font;
  }

  h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 0;
    width: 2rem;
    background: white;
  }
}

app-home section:not(.intro) {
  min-height: initial !important;

  .screen-padding(3.5rem 1.5rem, 4rem 2rem, 5rem 3rem, 5rem 3rem);

  //opacity: 0.9;
  .container {
    margin: auto;
    max-width: 1370px;
    position: relative;

    &.wide {
      width: auto;
      padding: 0 3rem;
    }
    p {
      font-size: 1.14em;
      line-height: 1.3;
    }
    .separator {
      height: 2px;
      margin: 3rem 0;
    }
    .item-box {
      margin: 5px;
      a {

        h4 {
          color: inherit;
        }
        .content {
          display: none;
        }

      }

    }
    .row {
      > div:first-child {
        //padding-left: 3rem;
      }
    }
  }

  .more-div {
    text-align: center;
    margin: 2rem 1rem 0;
    a {
      color: white;
    }
  }

  .theme(@text, @back,@lighter-base) {

    background-color: @back;
    color: @text;

    //h1:before {
    //  color: @back;
    //  background: @text;
    //}

    h1:after {
      background: @text;
    }

    p {
      color: @text;
    }
    .separator {
      background: @lighter-base;
    }

    .dashed {
      border: 1px dashed @lighter-base;
    }

  }

  &.premier {
    @lighter-base: @color-light-blue; //lighten(@color-base, 25%);
    .theme(white, @color-base, @lighter-base);
  }

  &.light {

    .theme(@color-text, @color-background, @color-text);
    .separator {
      background: darken(@color-background, 5%);
    }
    .btn:hover {
      background: @color-text;
      border-color: @color-text;
    }
  }

  &.dark {
    @lighter-base: darken(white, 25%);
    .theme(white, @color-background-dark, @lighter-base);

  }
}

section.tiles,
section.text {
  .screen-padding(1rem 5vw 0 5vw, 15px 15px 0, 30px 55px 0, 30px 10vw 0);
}

//section:last-of-type {
//  padding-bottom: 15rem;
//  .screen-xs-max({ padding-bottom: 12px; });
//}

section:last-of-type.view-btn {
  padding-bottom: 40px;
  padding-top: 24px;

}

section.intro {

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -49%);
    transform: translate(-50%, -49%);
    color: white;
    z-index: 1;
    text-align: center;
    .screen-padding(0 5vw, 0 10vw, 0 16vw, 0 18vw);
    .cubic;
    h5 {
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 4px;
      .screen-xs-max({ font-size: 15px; letter-spacing: 1px; margin-bottom: 12px });
    }
  }
  .arrow {
    position: absolute;
    right: 50%;
    // ltr
    margin-right: -11px;
    //text-indent: -9999px;

    bottom: 42px;
    left: 0;
    .rotate(135deg);
    width: 22px;
    height: 22px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
    z-index: 5;
    //.screen-md-max({ display: none });

    a {
      .opacity(0);
    }
  }
  ul.slider {
    width: 100%;
    height: 50vh;
    li {
      display: none
    }

    li.active {
      display: block;
      height: 100%;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover
    }
  }
  img {
    max-width: 100%;
    width: 100%;
    height: auto
  }
  .buttons {
    margin-top: 30px
  }
  .next, .prev {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: red;
    top: 50%;
    left: 60px;
    text-indent: -9999px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  .prev {
    left: initial;
    right: 60px
  }

  &.entity-details {
    background: white;
    position: relative;
    border-bottom: 5px solid @color-base;
    .screen-xs-max({ margin-top: @header-h-xs });
    &:before {
      .mask-me(0.7);
      .cubic();
      z-index: 0;
    }
    .row {
      > div {
        border-color: white;
        h2 {
          color: @color-text;
        }
      }
    }
  }

  &.video {
    .screen-height(100vh, 100vh, 100vh, 100vh);

    .image {
      position: absolute;
      width: 100%;
      top: 0px;
      background-size: cover;
      .screen-height(60vh, 60vh, 70vh, 80vh);
    }
  }

}

section.contact {

  hr {
    margin: 10px 0 30px;
  }

  .title {
    margin-bottom: 0px !important;

    h1 {
      padding: 1rem 0;
      margin-bottom: .5rem;
      &:after,
      &:before {
        content: none;
      }
    }

  }

  .text-div {
    margin-bottom: 1rem;
    div {
      padding: 0 !important
    }
  }

  .form {
    > div {
      margin-bottom: 0;
      padding: 0 0 5px 0;
      &:nth-child(2) {
        .screen-xs-min({ padding-right: 1.5rem; });
        // ltr
      }
    }

  }

  form {
    .screen-xs-max({margin-bottom: 18rem});
    label {
      display: block;
      font-size: 0.9em;
      //color: @color-base;
      padding-top: 1.5rem;
      height: 1.5rem;
      overflow: hidden;
      .cubic;
    }

    .has-value {
      label {
        padding-top: 0;
      }
    }

    #submit {
      margin-top: 1rem;
      .screen-xs-max({width: 100%});
    }
    #notSpam {
      display: none
    }

    .message {
      color: green;

      &.error {
        color: @color-error
      }

      &.hidden {
        opacity: 0
      }
    }

    #submit {
      .regular-font;
    }
  }

  ul.regions {
    li {
      position: relative;
      padding: 10px 0;
      min-width: 45%;
      margin: 0px 5% 10px 0px;
      a:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-right: 1px solid #4d4c4d;
        border-top: 1px solid #4d4c4d;
        -webkit-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        right: 5px;
        top: 50%
      }
    }

    li:first-child,
    li:nth-child(2) {
      margin-top: 20px;
      border-bottom: 1px solid #4d4c4d
    }
  }

  .screen(
  { .text {
    //margin-bottom: 30px
  } .row > div h3 {
      font: 21px/29.4px;
      padding-top: 30px
    } form {

        #submit {

          font: 14px/16.8px
        }
      } },
  { .text {
      margin-bottom: 30px
    } .row > div h3 {
        font: 21px/29.4px;
        padding-top: 30px
      } form {

          #submit {
            .regular-font;
            font: 14px/16.8px
          }
        } },
  { .row > div h3 {
      font: 26px/36.4px
    } form {
        #submit {
          font: 14px/16.8px
        }
      } },
  { .row > div h3 {
      font: 26px/36.4px
    } form {
        #submit {
          font: 14px/16.8px
        }
      } }
  );

  .form-submitted {
    p {
      font-size: 1.2em;
      color: green;
      margin-bottom: 1rem;
    }

  }
}

section.inner-index {
  .screen-padding(90px 5vw 0, 110px 5vw 0, 110px 5vw 0, 110px 10vw 0);
  h1 {
    font-size: 3em;
  }
  h1:after {
    background: transparent;
  }

  height: inherit;
}

section.text {
  .row {
    > div {
      padding: 0;
      .flex-order(1);
      h2 {
        color: @color-base !important;
        padding-left: 60px;
        padding-bottom: 0;
        .screen-xs-max({ padding-left: 0; padding-bottom: 12px });
      }

      &.htmls {
        div {
          padding-bottom: 1rem;
        }
        p {
          padding-bottom: 0;
        }
        li:not(.breadcrumb-item) {
          padding-bottom: 0;
          margin: 0 1.5rem;
        }
        strong {
          color: inherit;
        }
      }

      img {
        max-width: 50%;
      }
    }

    .screen-xs-max({&.mobile-reverse {
      > div:first-child {
        .flex-order(2);
      }
    }});

  }

  .four {
    > div {
      -webkit-box-flex: 1;
      -ms-flex: 1 25%;
      flex: 1 25%;
      height: 200px
    }
  }


}

section.entry {
  .screen-padding(90px 5vw 0 5vw, 110px 10vw 0 10vw, 110px 24vw 0 24vw, 110px 24vw 0 24vw);
  .title {
    margin-bottom: 40px;
    overflow: hidden;
    .screen-xs-max({ margin-bottom: 20px });

    h1 {
      color: @color-base;
      .light-font;
      font-size: 2.3em;
      //.screen-font-xs(2em, 2.3em);
    }

    h4 {
      color: @color-text;
      margin-bottom: 30px;
      .screen-xs-max({ margin-bottom: 15px });
      .light-font;
      font-size: 26px;
    }

    hr {
      border: none;
      border-top: 3px solid @color-base;
      margin-bottom: 30px
    }

    span.date {
      .screen-xs-max({ font-size: 12px; });
    }

    .text {
      display: block;
      line-height: 18px;
      .screen-font-xs(12px, 14px);
      p {
        margin-bottom: 15px;
        margin-top: 15px
      }

      p, li {
        .light-font;
        .screen-font-xs(15px, 22px);
      }
      h2 {
        .light-font;
        .screen-font-xs(36px, 18px);
      }

      ul, ol {
        margin-left: 23px;
        .screen-xs-max({ margin-left: 15px });
      }

      img {
        max-width: 100%;
        min-width: 100%
      }
    }
  }
}

.hide-mobile {
  .screen-xs-max({ display: none });
}

.row {
  .flex-display;
  .flex-row;
  //.screen-xs-max({ -webkit-box-orient: vertical });

  > div {
    .flex(1 1 30%);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .screen-xs-max({ .flex; margin-bottom: 2rem });

    &.double {
      .flex(2 0 calc(~'53% + 10px'));
      .screen-xs-max({ .flex(1 100%) });
    }

    &.four {
      .flex(2 0 calc(~'23.782% + 10px'));
    }

  }

  &.upside {
    > div {
      .screen-xs-max({ &:first-child {
        .flex-order(2);
      } &:last-child {
          .flex-order(1);
        } });

    }
  }
  &.three {
    > div {
      .screen({ .flex(1 100%); }, { .flex(0 1 calc(~'50% - 1rem')) }, { .flex(0 1 calc(~'33.3% - 1rem')) }, { .flex(0 1 calc(~'33.3% - 1rem')) })
    }
  }

  &.four {
    > div {
      .flex(0 1 25%);
      margin: inherit;
      box-sizing: border-box;
      padding: 5px;
    }
  }
}

.tile {
  .shadow();
}

.logo, .burger, .arrow {
  transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) 1s
}

.anim {
  opacity: 1;
  transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) 0.8s !important;
  -webkit-transform: translateY(60px);
  transform: translateY(60px)
}

.anim:nth-child(even) {
  transition: all cubic-bezier(0.71, 0.04, 0.32, 0.95) 1s !important
}

.already-visible {
  opacity: 1 !important;
  -webkit-transform: translateY(0px);
  transform: translateY(0px)
}

.page, .project {
  transition: background-image 0.2s ease-in-out
}

.double.slider {
  padding: 0px !important;
  overflow: hidden
}

.double.slider h4 {
  position: absolute;
  left: 23px;
  top: 23px;
}

.archive {
  background: #f4f4f4 !important
}

.play {
  position: absolute;
  margin-left: -115px;
  margin-top: 36px;
  .cubic()
}

.play:hover {
  opacity: 0.8;
  transition: opacity cubic-bezier(0.71, 0.04, 0.32, 0.95) 0.5s
}

.hide {
  display: none !important
}

.pdf {
  float: right;
  width: 260px
}

.bgg {
  background-color: #f4f4f4
}

.blue {
  color: @color-base
}

.purple {
  color: @color-secondary !important;
}

.btn {
  color: @color-text;
  display: inline-block;
  text-align: center;
  line-height: 1;
  padding: 14px 35px;
  letter-spacing: 1px;
  min-width: 150px;
  border: 1px solid @color-text;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
  .cubic(0.1s);

  .screen-margin(30px 0px 30px 0px, 60px 0px 30px 0px, 20px 0px 30px 0px, 20px 0px 30px 0px);

  &.lead {
    margin-top: 0px;
    color: white;
    border-color: white;
  }

  &:hover {
    background: @color-base;
    color: white;
    border: solid @color-base 1px;
    a {
      color: white
    }
  }
  //
  //&.center {
  //  position: relative;
  //  left: 50%;
  //  -webkit-transform: translateX(-50%);
  //  transform: translateX(-50%)
  //}

  &:last-of-type {
    margin-left: 30px
  }

  &:first-of-type {
    margin-left: 0px
  }

}

//.center {
//  position: relative;
//  left: 50%;
//  -webkit-transform: translateX(-50%);
//  transform: translateX(-50%);
//  margin: 40px 0 30px 0
//}

.link {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline;
}

.hide {
  display: none
}

.no-pic-section {
  margin-top: 150px;
}

dl {
  margin-bottom: 10px;

  dt {
    .bold;
    font-size: 1.1em;
    line-height: 1;
  }

  dd {
    margin-bottom: 1rem;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 0;
  margin-bottom: 1rem;
  list-style: none;
  li * {
    font-size: 0.9em;
  }
  //background-color: #e9ecef;
  //border-radius: .25rem
}

.breadcrumb-item + .breadcrumb-item::before {
  //display: inline-block;
  //padding-right: .5rem;
  //padding-left: .5rem;
  //color: #868e96;
  //content: ">";
  content: ' ';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px 1px;
  .rotate(-45deg);
  border-top: 1px solid #8c8c8c;
  border-left: 1px solid #8c8c8c;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  span {
    color: #868e96;
    .bold;
  }

}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

