@import "../../../shared/all";

section {
  text-align: center;
  color: white;
  padding-top: 0;
  padding-bottom:0;
  .back-pic('Shaftalignment_1.jpg');
  background-position: center bottom;

  //.mask{
  //  background-color: @color-base ;
  // .opacity(.1);
  //}

  h1 {
    padding-bottom: 2rem;
  }
  .text {
    display: inline-block;
    max-width: 55rem;
    margin: 14vh 0;
    z-index: 3;
    position: relative;
    .screen-xs-max({max-width: 70vw; margin: 5vh 0;});
    p{
      font-size: 2.3em;
      line-height: 1.3;
      .screen-xs-max({font-size: 1.2em; line-height: 1.5});
      color: white;
      text-align: center;

      .bold;
      .text-shadow;
    }
    .btn {
      margin-top: 2rem;
    }
  }
}
