<div class="back">

  <app-intro></app-intro>

  <app-our-services-tiles></app-our-services-tiles>

  <app-product-tiles id="products"></app-product-tiles>

  <app-course-tiles></app-course-tiles>

  <app-about-tiles></app-about-tiles>

  <app-project-gallery></app-project-gallery>

  <app-contact-tiles></app-contact-tiles>

  <app-customers></app-customers>
</div>


