@import '../../../shared/all';

img.back {
  width: 100%;
  position: relative;
}

.engine-wrap {
  position: relative;
  width: 100%;
  padding-top: 75%; // :4:3
  top: 0;
  //border: 1px solid;
  //.screen-xs-max({height: 50vh});

  .dashed {
    content: '';
    position: absolute;
    border-radius: 100%;
    padding-top: 60%;
    width: 60%;
    .screen-xs-max({ padding-top: 70%; width: 70%; });
    margin: 0 auto;
    top: 12%;
    right: 0;
    left: 0;
    border: 1px dashed @color-dashed;
    div {
      position: relative;
      i {
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem 4rem;
      }
    }
  }

  .line {
    position: absolute;
    width: 105%;
    height: 1px;
    background-color: #47bfe7;
    .rotate(-33deg);
    top: 55.5%;
    display: none;
  }

  img {
    position: absolute;
    height: 50%;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 30%;
    cursor: pointer;
    .cubic(3s);
    transform: translate3D(0, 0, 0);
  }

  &.exploded {

    #body_bottom, #body_top {

    }

    #fanCover_bottom,
    #fanCover_top {
      .transMe(-50%);
    }

    #fan {
      .transMe(-32%);
    }

    #backCover {
      .transMe(-17%);
    }

    #rotor_bottom,
    #rotor_top {
      //.diagonal('rotor', -35vh, 26vh, -53vh, 38vh);
      .transMe(28%);
    }

    #frontHood_bottom,
    #frontHood_top {
      //.diagonal('frontHood',0, 0, -52%, 35%);
      .transMe(47%);
    }

    #um_bottom,
    #um_top {
      .transMe(56%);
    }

    .transMe(@v) {
      transform: translate3D(-1.475 * @v, @v, 0);
    }
  }
}

.diagonal(@name, @assembled-y,@assembled-x, @exploded-y, @exploded-x) {
  @anim: 4s linear; //

  -webkit-animation: @anim;
  animation: @anim;
  transform: translate3D(@assembled-y, @assembled-x, 0);
  //transform:  translate3D(@exploded-y, @exploded-x, 0);

  .frames {
    0% {
      transform: translate3D(@assembled-y, @assembled-x, 0);
    }
    100% {
      transform: translate3D(@exploded-y, @exploded-x, 0);
    }
  }

  @-webkit-keyframes @name {
    .frames;
  }

  @keyframes @name {
    .frames;
  }

}

