<div class="engine-wrap" (click)="exploded = !exploded" [ngClass]="{'exploded' : exploded}">
  <div class="dashed">
  <div class="line"></div>
  <img *ngFor="let part of parts" [src]="[path + part + '.png']" alt="" id="{{part}}">
</div>
